@import "grid/functions";

:host {
  .finance-container {
    display: flex;
    flex-wrap: wrap;

    .finance-form-container {
      width: 30%;
      @include breakpoint-down(md) {
        width: 100%;
      }
    }

    .finance-list-container {
      padding: 0 1em;
      flex-grow: 1;
    }

  }
}
