@import "grid/functions";

:host {
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include breakpoint-between(sm, md) {
      flex-direction: row;

      .name {
        flex-grow: 1;
      }
    }

    .add-button {
      width: 100%;
      button {
        width: 100%;
      }

      @include breakpoint-between(sm, md) {
        text-align: right;
        button {
          width: 25%;
        }
      }
    }
  }
}
