@import "grid/functions";

:host {
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    border: 1px solid transparent;
    border-radius: 5px;

    @include breakpoint-between(sm, md) {
      flex-direction: row;

      .name {
        flex-grow: 1;
      }
    }

    @include breakpoint-up(sm) {
      border-color: #979797;
    }

    .add-button {
      width: 100%;
      button {
        width: 100%;
        background: #333333;
        color: white;
        border: 0;
        border-radius: 4px;
        padding: 4px;
      }

      @include breakpoint-between(sm, md) {
        text-align: right;
        button {
          width: 25%;
        }
      }
    }
  }
}
