<h2>Extrato de Transações</h2>

<table>
  <thead>
  <tr>
    <th></th>
    <th class="name-column">Mercadoria</th>
    <th class="value-column">Valor</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let transaction of (transactions$ | async)">
      <td>{{ transaction?.type }}</td>
      <td class="name-column">{{ transaction?.name }}</td>
      <td class="value-column">{{ transaction?.value | currency:'BRL' }}</td>
    </tr>
  </tbody>

  <tfoot>
  <tr>
    <th></th>
    <th class="name-column">Total</th>
    <th class="value-column">{{ (total$ | async) | currency:'BRL' }}</th>
  </tr>
  </tfoot>
</table>
