:host {
  h2 {
    text-align: center;
  }

  table {
    width: 100%;
    text-align: left;

    .name-column {
      width: 100%;
    }

    .value-column {
      text-align: right;
      white-space: nowrap;

      small {
        display: block;
        font-weight: 400;
        font-size: 0.7em;
      }
    }
  }
}
